<div class='content'>
  <div class='stories-div'>
    <div id="posts">
    </div>
    <h3>Create New Story</h3>
    <form id="story-form">
      <input name="title" type="text" id="story-title-field"/>
      <input name="url" type="text" id="story-link-field"/>
      <input name="body" type="text" id="story-body-field"/>
      <button id="story-create-button">Submit</button>
    </form>
  </div>
</div>